<section id="login" class="page visible">
    <div id="main">
        <div id="logo">
            <img src="img/topNav.png" alt="">
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Tarjetas</h4>
                <ul id="Tarjetas" class="collection with-header">
                    <li class="collection-item">Nueva<a data-href="agregarTarjeta" class="secondary-content nav-xhr"><i class="material-icons">add</i></a></li>
                </ul>
                <button class="nav-xhr btn red" data-href="configuracion">Volver</button>
            </div>
        </div>
    </div>
</section>