<section id="login" class="page visible">
    <div id="main">
        <div class="row">
            <div class="col s8">
                <h4>Buscar</h4>        
            </div>
            <div class="col s4">
                <button class="btn red nav-xhr" data-href="nuevaMesa">Volver</button>        
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="search" id="jetsSearch">
                <label for="jetsSearch">Buscar</label>
            </div>
        </div>
        <div class="row">
            <ul id="jetsContent" class="collection with-header"></ul>
        </div>
    </div>
</section>