<section id="login" class="page visible">
    <div id="main">
        <div id="logo">
            <img src="img/topNav.png" alt="">
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Codigo</h4>
                <form action="" id="frm-Codigo">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" name="codigo" id="codigo" placeholder="Codigo" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a class="btn red nav-xhr" data-href="principal">Volver</a>
                            <button type="submit" class="btn">Unirse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>