<section id="login" class="page">
    <div id="main">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="codigo" class="center-align" disabled>
            </div>
        </div>
        <div class="row">
            <div>
                <ul id="Alimentos"class="collection "></ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a id="agrgarPlatillo" class="center-align modal-trigger waves-effect waves-light" href="#modal-agregarPlatillo"><i class="material-icons">add</i> Agregar Platillo/Bebida</a>
            </div>
        </div>
    </div>
    <div id="content-amigos">
        <div class="row">
            <div class="col s12">
                <ul id="amigos"></ul>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn nav-xhr" data-href="subtotales">Subtotales</button>
        </div>
    </div>
</section>

