<section id="index" class="page">
                <div id="main">
                    <nav class="top-nav black">
                        <div class="container">
                            <div class="nav-wrapper"><a class="page-title ">BIENVENIDO</a></div>
                        </div>
                    </nav>
                    <div id="logo">
                        <img src="img/topNav.png" alt="">
                    </div>
                    <ul class="collection">
                      <li class="collection-item">Registrarse <a data-href="registrarse" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                      <li class="collection-item">LogIn <a data-href="login" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                    </ul>
                </div>
            </section>