<section id="login" class="page visible">
    <div id="main">
        <div class="row">
            <div class="col s12">
                <h4>Metodos de Pago</h4>
                <ul id="Tarjetas" class="collection with-header">
                    <li class="collection-item">Efectivo<a data-href="gracias" class="secondary-content nav-xhr"><i class="material-icons">attach_money</i></a></li>
                </ul>
                <button class="nav-xhr btn red" data-href="principal">Cancelar</button>
            </div>
        </div>
    </div>
</section>