<section id="login" class="page visible">
    <div id="main">
        <div id="logo">
            <img src="img/topNav.png" alt="">
        </div>
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Restaurantes</h4></li>
                <li class="collection-item">QR code <a id="qrCode" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Ubicacion <a data-href="ubicacion" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Buscar <a data-href="buscarMesa" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
            </ul>
            <button class="nav-xhr btn red" data-href="principal">Volver</button>
        </div>
    </div>
</section>