<section id="login" class="page visible">
    <div id="main">
        <div id="logo">
            <img src="img/topNav.png" alt="">
        </div>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Nueva Mesa <a data-href="registrarse" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Unirse <a data-href="login" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Configuracion <a data-href="login" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
            </ul>
        </div>
    </div>
</section>