<section id="login" class="page visible">
    <div id="main">
        <div id="logo">
            <img src="img/topNav.png" alt="">
        </div>
        <h5 id="usr" class="center">Hola <span></span></h5>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Nueva Mesa <a data-href="nuevaMesa" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Unirse <a data-href="codigo" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item">Configuracion <a data-href="configuracion" class="secondary-content nav-xhr"><i class="material-icons">keyboard_arrow_right</i></a></li>
                <li class="collection-item"><a id="cerrarSesion">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</section>