<section id="configuracion" class="page">
    <div id="main">
        <nav class="top-nav black">
            <div class="container">
                <div class="nav-wrapper"><a class="page-title ">Registrarse</a></div>
            </div>
        </nav>
        <div id="redes">
            <div class="row center-align">
                <div class="col s6">
                    <img src="img/fb.png" alt="" class="icon-redes">
                </div>
                <div class="col s6">
                    <img src="img/google.png" alt="" class="icon-redes">
                </div>
            </div>
        </div>
        <div class="row">
            <form action="NuevoUsuario" id="frm-NuevoUsuario" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="nombre" id="input-nombre" placeholder="Nombre" required>                        
                    </div>        
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="number" name="telefono" id="input-telefono" placeholder="Telefono" required>                        
                    </div>        
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="email" name="correo" id="input-correo" placeholder="Correo" required>                        
                    </div>        
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" name="password" id="input-password" placeholder="Contraseña" required>                        
                    </div>        
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a data-href="index" class="btn nav-xhr red darken-1">Cancelar</a>
                        <button type="submit" class="btn  blue darken-3">Aceptar</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>    
</section>