<section id="login" class="page">
    <div id="main">
        <div class="row">
            <div class="col s12">
                <h4>Subtotales</h4>                
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <label for="Subtotal">Subtotal</label>
            </div>
            <div class="input-field col s4">
                <input type="text" id="subtotal" name="subtotal" class="center-align" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <label for="">Propina</label>
            </div>
            <div class="input-field col s4">
                <input type="text" id="propina" name="propina" class="center-align" disabled>
            </div>            
        </div>
        <hr>
        <div class="row">
            <div class="col s8">
                <label for="">Total</label>
            </div>
            <div class="input-field col s4">
                <input type="text" id="total" name="total" class="center-align" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <a id="lessPropina">-</a>
            </div>      
            <div class="col s8">
                <p class="center-align"><input type="text" id="pPropina" value="16%"></p>
            </div>
            <div class="col s2">
                <a id="plusPropina">+</a>    
            </div>
        </div>
</section>

